.error
  width 100%
  text-align center
  margin 25px 0
  &__title
    font-size 40px
    color red
    margin-bottom 15px
    font-weight bold
  &__content
    font-size 24px
    margin 10px
    color orange