@media screen and (max-width 1200px)
  .row
    // grid-template-areas "item1"\
    //                     "item2" !important
    grid-template-columns 1fr !important
    justify-items center !important

.row
  width 100%
  padding 25px
  display grid
  // grid-template-areas "item1 item2"
  grid-template-columns 1fr 1fr
  grid-column-gap 25px
  grid-row-gap 25px
  justify-items center